#
# MobiCore configuration
#
if SOC_EXYNOS5260
source "drivers/gud/gud-exynos5260/Kconfig"
endif

if SOC_EXYNOS5410
source "drivers/gud/gud-exynos5410/Kconfig"
endif

if SOC_EXYNOS5420
source "drivers/gud/gud-exynos5420/Kconfig"
endif
